:root {
  font-family: system-ui, sans-serif;
  color: #f9fafb;
  background: #111827;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 20rem;
  min-height: 100vh;
  margin: 0;
}
